<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--轮播-->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <!--自定义-->
    <link rel="stylesheet" href="css/main.css">
  <!--[if lt IE 9] >
    <script src="js/html5.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<!--焦点图-->
<div id="owl" class="owl-carousel">
  <a class="item"><img src="images/index/1.jpg" alt=""></a>
  <a class="item"><img src="images/index/2.jpg" alt=""></a>
  <a class="item"><img src="images/index/3.jpg" alt=""></a>
</div>
<!--导航-->
<div id="nav">
    <div class="w1200 text-center">
       <!-- <a class="on" href="javascript:;">首页</a>
        <a href="javascript:;">HTML5</a>
        <a href="javascript:;">JAVACRIPT</a>
        <a href="javascript:;">CSS</a>
        <a href="javascript:;">PHP</a>
        <a href="javascript:;">JAVA</a> -->
    </div>
</div>
<!--内容-->
<div id="main" class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
               <div class="info  text-center">
                    <h3 >
                        首尔
                    </h3>
                   <p>
                       作者 ：<span class="text-primary">admin</span>
                       时间 ：<span class="text-primary">2017-02-23</span>
                       阅读 ：<span class="text-primary">90</span>
                       评论 ：<span class="text-primary">30</span>
                   </p>
                   <p class="text-left">
                       首尔首尔首尔首尔首尔
                   </p>
                   <p class="text-left">
                       <a class="btn btn-primary" href="javascript:;">阅读</a>
                   </p>
               </div>
                <div class="info  text-center">
                    <h3 >
                        首尔
                    </h3>
                    <p>
                        作者 ：<span class="text-primary">admin</span>
                        时间 ：<span class="text-primary">2017-02-23</span>
                        阅读 ：<span class="text-primary">90</span>
                        评论 ：<span class="text-primary">30</span>
                    </p>
                    <p class="text-left">
                        首尔首尔首尔首尔首尔
                    </p>
                    <p class="text-left">
                        <a class="btn btn-primary" href="javascript:;">阅读</a>
                    </p>
                </div>
                <div class="info  text-center">
                    <h3 >
                        首尔
                    </h3>
                    <p>
                        作者 ：<span class="text-primary">admin</span>
                        时间 ：<span class="text-primary">2017-02-23</span>
                        阅读 ：<span class="text-primary">90</span>
                        评论 ：<span class="text-primary">30</span>
                    </p>
                    <p class="text-left">
                        首尔首尔首尔首尔首尔
                    </p>
                    <p class="text-left">
                        <a class="btn btn-primary" href="javascript:;">阅读</a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
               <div class="info">
                    <a href="/login/reg">去注册</a> | <a href="/login">登陆</a>
               </div>
            </div>
        </div>
    </div>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script>
    $('#owl').owlCarousel({
        items: 1,
        autoPlay: true,
        pagination: false
    });
    nav();
    function nav() {
        $.post('/back/leiList',{
            limit : 10,
            offset :0,
            order :1

        },function (data) {
            if(data.status ==2){
                var html = '';
                console.log(data)
                $.each(data.data,function (i,e) {
                    var on = i==0?"on" : "";

                    html+="<a class='"+on+"' href='javascript:;'>"+e.title+"</a>"
                })

                $("#nav .w1200").append(html);
            }
        })
    }
</script>
</body>
</html>