<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<!--导航-->
<div id="nav">
    <div class="w1200 text-center">
        <a class="on" href="javascript:;">首页</a>
        <a href="javascript:;">HTML5</a>
        <a href="javascript:;">JAVACRIPT</a>
        <a href="javascript:;">CSS</a>
        <a href="javascript:;">PHP</a>
        <a href="javascript:;">JAVA</a>
    </div>
</div>
<div id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="info  text-center">
                    <h3 >
                        首尔
                    </h3>
                    <p>
                        作者 ：<span class="text-primary">admin</span>
                        时间 ：<span class="text-primary">2017-02-23</span>
                        阅读 ：<span class="text-primary">90</span>
                        评论 ：<span class="text-primary">30</span>
                    </p>
                    <p class="text-left">
                        首尔首尔首尔首尔首尔
                    </p>

                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

    </div>
</div>
</body>
</html>